extends layout

block content
  h1 Register
  p Please register using the form below
  .container
      if errors
        each error, i in errors
            .alert.alert-danger(role='alert') #{error.msg}
  form(method='post', action='/users/register', enctype='application/json')
    .form-group
        label Name 
        input.form-control(name='name', type='text', value=name)
    .form-group
        label Email
        input.form-control(name='email', type='email', value=email)
    .form-group
        label Username
        input.form-control(name='username', type='text', value=username)
    .form-group
        label Password
        input.form-control(name='password', type='password')
    .form-group
        label Confirm Password
        input.form-control(name='password2', type='password')
    .form-group
        label Profile Image
        input.form-control(name='profileimage', type='file')
    button.btn.btn-info.btn-lg(name='submit', type='submit') Register
        
